/* FULL BACKGROUND */
body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;

    height: 100vh;

    background: url("/static/images/bg.jpg") no-repeat center center;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* DARK OVERLAY (like reference image) */
body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background: rgba(0, 0, 0, 0.6);
}

/* CENTER CONTAINER */
.form-container {
    position: relative;
    z-index: 2;
}

/* CARD (GLASS + DARK) */
.form-card {
    width: 380px;
    padding: 40px;

    background: rgba(0, 0, 0, 0.65);
    backdrop-filter: blur(12px);

    border-radius: 15px;
    color: white;

    border: 1px solid rgba(255,255,255,0.1);

    /* 3D DEPTH */
    box-shadow:
        0 20px 60px rgba(0,0,0,0.8),
        0 0 40px rgba(16, 65, 55, 0.3);
}

/* TITLE */
.form-card h2 {
    text-align: center;
    margin-bottom: 25px;
    letter-spacing: 1px;
}

/* INPUTS */
.form-card input {
    width: 100%;
    padding: 12px;
    margin: 12px 0;

    border: none;
    outline: none;
    border-radius: 8px;

    background: rgba(255,255,255,0.1);
    color: white;
}

/* BUTTON */
.form-card button {
    width: 100%;
    padding: 12px;
    margin-top: 15px;

    border: none;
    border-radius: 25px;

    background: #104137;
    color: white;

    font-weight: 500;
    cursor: pointer;
}

/* HOVER */
.form-card button:hover {
    background: #0c322b;
    transform: translateY(-2px);
}

/* FOOT TEXT */
.switch {
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
}

.switch a {
    color: #1abc9c;
}