{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Task Manager</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    
    {% block extra_css %}{% endblock %}
</head>

<body>

{% if request.path != '/' and request.path != '/login/' and request.path != '/signup/' %}

<div class="app-layout">

    <!-- SIDEBAR -->
    <div class="sidebar" id="sidebar">

        <h2 class="sidebar-logo">TaskFlow</h2>

        <a href="/tasks/">My Day</a>
        <a href="/tasks/?type=DAILY">Daily</a>
        <a href="/tasks/?type=WEEKLY">Weekly</a>
        <a href="/tasks/?type=MONTHLY">Monthly</a>
        <a href="/tasks/?type=YEARLY">Yearly</a>

        <a href="/logout/" class="logout-link">Logout</a>

    </div>

    <!-- MAIN -->
    <div class="main-area">

        <!-- TOP NAVBAR -->
        <div class="top-navbar">

            <h3>TaskFlow</h3>

            <div class="nav-right">
                <span class="user-name">
                    Hello, {{ request.user.username }}
                </span>
            </div>

        </div>

        <!-- TOGGLE BUTTON -->
        <button id="toggle-btn" class="toggle-btn">
            ☰
        </button>

        <main class="main-content">
            {% block content %}{% endblock %}
        </main>

    </div>

</div>

{% else %}

<main class="full-page">
    {% block auth_content %}{% endblock %}
</main>

{% endif %}

<script src="{% static 'js/sidebar.js' %}"></script>

{% block extra_js %}{% endblock %}

</body>

</html>