{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/forms.css' %}">
{% endblock %}

{% block content %}

<div class="form-container">
    <div class="form-card">

        <h2>Create Task</h2>

        <form method="POST">
            {% csrf_token %}

            <input type="text" name="title" placeholder="Title">
            <textarea name="description" placeholder="Description"></textarea>

            <select name="priority">
                <option value="LOW">Low</option>
                <option value="MEDIUM">Medium</option>
                <option value="HIGH">High</option>
            </select>

            <input type="datetime-local" name="deadline">

            <button type="submit">Create Task</button>
        </form>

    </div>
</div>

{% endblock %}
