{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/forms.css' %}">
{% endblock %}

{% block simple_content %}

<div class="form-container">
    <div class="form-card">

        <h2>Create Task</h2>

        <form method="POST">
            {% csrf_token %}

            <input type="text" name="title" placeholder="Title">
            <textarea name="description" placeholder="Description"></textarea>

            <select name="priority">
                <option value="LOW">Low</option>
                <option value="MEDIUM">Medium</option>
                <option value="HIGH">High</option>
            </select>

            <!-- TASK TYPE -->
            <select name="task_type" id="task-type">
                <option value="DAILY">Daily</option>
                <option value="WEEKLY">Weekly</option>
                <option value="MONTHLY">Monthly</option>
                <option value="YEARLY">Yearly</option>
                <option value="CUSTOM">Custom</option>
            </select>

            <!-- CUSTOM DATE -->
            <div id="custom-date-box" style="display:none;">
                <input type="date" name="custom_date">
            </div>

            <button type="submit">Create Task</button>
        </form>

    </div>
</div>

{% endblock %}

{% block extra_js %}
<script src="{% static 'js/create_task.js' %}"></script>
{% endblock %}