<h2>Edit Task</h2>

<form method="POST">
    {% csrf_token %}
    
    <input type="text" name="title" value="{{ task.title }}"><br><br>
    
    <textarea name="description">{{ task.description }}</textarea><br><br>
    
    <select name="priority">
        <option value="LOW">Low</option>
        <option value="MEDIUM">Medium</option>
        <option value="HIGH">High</option>
    </select><br><br>

    <select name="status">
        <option value="PENDING">Pending</option>
        <option value="COMPLETED">Completed</option>
    </select><br><br>

    <input type="datetime-local" name="deadline"><br><br>
    
    <button type="submit">Update Task</button>
</form>