{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/task.css' %}">
{% endblock %}

{% block content %}

<!-- Dashboard -->
<section class="dashboard">

    <div class="dashboard-card">
        <h4>Total Tasks</h4>
        <p>{{ total_tasks }}</p>
    </div>

    <div class="dashboard-card">
        <h4>Completed</h4>
        <p>{{ completed_tasks }}</p>
    </div>

    <div class="dashboard-card">
        <h4>Pending</h4>
        <p>{{ pending_tasks }}</p>
    </div>

</section>

<!-- Create Button -->
<div class="create-task">
    <a href="/create-task/" class="btn create">+ Create Task</a>
</div>

<section class="filter-bar">

    <form method="GET" class="filter-form">

        <input type="text" name="search" placeholder="🔍 Search tasks">

        <select name="status">
            <option value="">All Status</option>
            <option value="PENDING">Pending</option>
            <option value="COMPLETED">Completed</option>
        </select>

        <select name="priority">
            <option value="">All Priority</option>
            <option value="LOW">Low</option>
            <option value="MEDIUM">Medium</option>
            <option value="HIGH">High</option>
        </select>

        <button type="submit">Apply</button>

    </form>

</section>

<!-- TASK LIST -->
{% for task in tasks %}
<article class="task-card">

    <h3>{{ task.title }}</h3>
    <p>{{ task.description }}</p>

    <div class="task-meta">
        <span class="status {{ task.status|lower }}">{{ task.status }}</span>
        <span class="priority {{ task.priority|lower }}">{{ task.priority }}</span>
    </div>

    <div class="task-actions">
        <a href="/edit-task/{{ task.id }}/" class="btn edit">Edit</a>
        <a href="/delete-task/{{ task.id }}/" class="btn delete">Delete</a>
    </div>

</article>
{% endfor %}

{% endblock %}